body{
    background-color: black;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}

#bannerHome{
  display: block;
  max-width: 100%;
  height: auto;
  min-height: 400px;
  max-height: 800px; 
}
#about-p {
    text-align:center;
    margin-left: 33%;
    margin-right: 33%;
    padding-top: 50px;
    font-size: large;
    color:white;
}
h1{
    text-align: center;
    color:white
}

#gameDiv{
    text-align: center;
    margin-top: 51px;

}
#bContainer
{
    height: 207px;
    width: 100%;
}

.profiles{
    display: block;
    max-width: 100%;
    height: auto;
    min-height: 300px;
    max-height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px; 
    border-bottom: 1px lightskyblue solid;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding-left: 20%; 
}