body{
    background-color: black;
}

#bannerHome{
    margin-top: 51px;
}
#about-p {
    text-align:center;
    margin-left: 33%;
    margin-right: 33%;
    padding-top: 50px;
    font-size: large;
    color:white;
}
h1{
    text-align: center;
    color:white
}

#gameDiv{
    text-align: center;
    margin-top: 51px;

}