body{
    background-color: black;
    overflow-y: scroll;
    padding-top: 65px;
}

#bannerHome{
  display: block;
  position: relative;
  margin-top: 51px;
}
#banner{
    width: 100%;
    height: 350px;
}
.bannerAbout{
    
}

#score{
    display: block;
    max-width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 800px; 
    position: relative;
    padding-top: 50px;
}

#about-p {
    text-align:center;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 50px;
    font-size: xx-large;
    color:white;
}

h1{
    text-align: center;
    color:white
}
.form-container{
    position: relative;
    left: 20%;
    width:60%;
    height:600px;
    background-color: #ffffff; 
    border-radius: 25px;
    margin-top: 75px;
}
.contact-form{position: absolute; top:10%; left:10%; width:80% ;height: 700px;}
input,
textarea {width:100%; margin-top: 2rem; border:none; border-bottom: 1px solid black; font-size: 24px;}
.submit{border: 1px solid black; padding:1rem; text-align:center;background-color:#ffffff;cursor:pointer;}
.submit:hover{opacity:0.6;}
.email{
    font-size: 24px;
}
.name{
    font-size: 24px;
}
.message{
    font-size: 24px;
}

.profiles{
    display: block;
    max-width: 100%;
    height: auto;
    min-height: 300px;
    max-height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
 

    border-bottom: 1px lightskyblue solid;
}

.about{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding-left: 10%;
    padding-right: 10%; 
    border-top: 1px lightskyblue solid;
}


#description{
    color: white;
}

.gameContainer > h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.intro{
    padding-top: 30%;
    padding-right: 20%;
}
h3{
    color:white
}
h3:hover{
    background-color: rgb(51, 51, 51);
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.fadable-navbar {
    transition: 0.5s;
}
