body{
    background-color: black;
    overflow-y: scroll;
}

#bannerHome{
  display: block;
  position: relative;
  margin-top: 51px;
}

#score{
    display: block;
    max-width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 800px; 
    position: relative;
    padding-top: 50px;
}

#about-p {
    text-align:center;
    margin-left: 33%;
    margin-right: 33%;
    padding-top: 50px;
    font-size: large;
    color:white;
}

h1{
    text-align: center;
    color:white
}

.profiles{
    display: block;
    max-width: 100%;
    height: auto;
    min-height: 300px;
    max-height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
 

    border-bottom: 1px lightskyblue solid;
}

.about{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding-left: 10%;
    padding-right: 10%; 
    border-top: 1px lightskyblue solid;
}


#description{
    color: white;
}

.gameContainer > h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.intro{
    padding-top: 30%;
    padding-right: 20%;
}
h3{
    color:white
}
h3:hover{
    background-color: rgb(51, 51, 51);
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
